[Desktop Entry]
Type=Application
NoDisplay=false
Terminal=false
Exec=cc3dsfs
Name=cc3dsfs
Comment=Video capture software for (3)DS(i) capture cards
Categories=Gaming
